<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Suma{% endblock %}</title>

    </head>
    <body>
        {% block body %}
        La suma de {{n1}} y {{n2}} es : {{n1}} + {{n2}} = {{calculo}}
        {% endblock %}
    </body>
</html